// Modified version of https://github.com/pages-themes/cayman/blob/9c3e7071552b4b8207bdd6740a93723da24617fc/_sass/variables.scss

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #348fba;
$header-bg-color-secondary: #c56087;

// Text
$section-headings-color: #159957;
$body-text-color: #606c71;
$body-link-color: #2482ae;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;
